

.nav{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: brown;
}
/* Alteramos las cajas*/

.nav__li{
    display: inline-block;
    padding: 12px;
    color: white;
    margin-right: 75px;
}

/* Alteramos en texto de a*/
.nav__li a {
    color: white;
    text-decoration: none;
}
/* Alteramos los iconos*/
.nav__li i{
    width: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 2px;
}